<div class="padding">
	@{if model}
		<div class="date">@{if model.dateupdated}<b>@(Updated:)</b> @{model.dateupdated.format('dd. MMMM yyyy')}@{else}<b>@(Created:)</b> @{model.datecreated.format('dd. MMMM yyyy')}@{fi}</div>
		@{if model.author}<div class="author"><b>@(Author:)</b> @{model.author}</div>@{fi}
	@{fi}
	<div class="markdown">
		@{if model}
			@{!markdown(model.body)}
		@{else}
			<h1>@(Welcome to Wiki)</h1>
			<p>@(Choose a document for reading in the left panel.)</p>
		@{fi}
	</div>
</div>